{% load i18n %}

<table class="coupons table table-bordered" ng-show="enclosure.shop_coupons.length != 0">
    <thead>
        <tr>
            <th>POI</th>
            <th>{% trans "Cupón" %}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="coupon"
            ng-repeat="coupon in enclosure.shop_coupons | orderBy:'label.name':reverse | filter:search_coupon | filter:filter_coupon"
            ng-controller="CouponCtrl">
            <td>[[coupon.label.name]]</td>
            <td>
                {% include "_coupon_manager/_coupon.html" %}
            </td>
        </tr>
    </tbody>
</table>