{% load i18n %}

<div id="dialogs">
    <div id="label_dialogs" ng-controller="FormsLabelCtrl">
        <div id="coupon_create_label">
            <form class="create"
                  id="create"
                  action=""
                  method="post"
                  enctype="multipart/form-data"
                  target="upload_target">

                <label class="txt">
                    {% trans "Imagen para el cupón:" %}
                    <input class="btn"
                           type="file"
                           ng-model="coupon_img"
                           name="coupon"
                           title="{% trans "Subir imagen" %}">
                </label>

                <button class="btn" ng-click="closeModalDialog()">{% trans "Cancelar" %}</button>
                <button class="btn" ng-click="create()">{% trans "Añadir cupón" %}</button>
            </form>
        </div>

        <div id="coupon_update_label">
            <form class="edit"
                  action=""
                  method="post"
                  enctype="multipart/form-data"
                  target="upload_target">
                <label class="txt">
                    {% trans "Nueva imagen para el cupón:" %}
                    <input class="btn"
                           type="file"
                           ng-model="new_coupon_img"
                           name="coupon"
                           title="{% trans "Cambiar imagen" %}">
                </label>

                <button class="btn" ng-click="closeModalDialog()">{% trans "Cancelar" %}</button>
                <button class="btn" ng-click="update()">{% trans "Guardar" %}</button>
                <button class="btn" ng-click="del()">{% trans "Eliminar cupón" %}</button>
            </form>
        </div>
    </div>

    <div id="enclosure_dialogs" ng-controller="FormsEnclosureCtrl">
        <div id="coupon_create_enclosure">
            <form class="create"
                  id="enclosure_create"
                  action=""
                  method="post"
                  enctype="multipart/form-data"
                  target="upload_target">

                <label class="txt">{% trans "Nombre del cupón" %}:>
                    <input type="text" ng-model="coupon_name">
                </label>

                <label class="txt">
                    {% trans "Imagen para el cupón:" %}
                    <input class="btn"
                           type="file"
                           ng-model="coupon_img"
                           name="img"
                           title="{% trans "Subir imagen" %}">
                </label>

                <button class="btn" ng-click="closeModalDialog()">{% trans "Cancelar" %}</button>
                <button class="btn" ng-click="create()">{% trans "Crear cupón" %}</button>
            </form>
        </div>

        <div id="coupon_update_enclosure">
            <form class="edit"
                  action=""
                  method="post"
                  enctype="multipart/form-data"
                  target="upload_target">

                <label class="txt">{% trans "Nombre del cupón" %}:>
                    <input type="text" ng-model="coupon_name">
                </label>

                <label class="txt">
                    {% trans "Nueva imagen para el cupón:" %}
                    <input class="btn"
                           type="file"
                           ng-model="new_coupon_img"
                           name="img"
                           title="{% trans "Cambiar imagen" %}">
                </label>

                <button class="btn" ng-click="closeModalDialog()">{% trans "Cancelar" %}</button>
                <button class="btn" ng-click="update()">{% trans "Guardar" %}</button>
                <button class="btn" ng-click="del()">{% trans "Eliminar cupón" %}</button>
            </form>
        </div>
    </div>
</div>
