{% extends "base.html" %}

{% load i18n %}


{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map_editor/styles.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map_editor/connections/styles.css">
{% endblock %}

{% block js %}

    <script src="{{ STATIC_URL }}js/map_editor/connections/main.js"></script>
    <script>
        Connections.enclosure_id = {{ enclosure_id }};
    </script>
{#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>#}
{% endblock %}

{% block content %}


    <h1>{% trans "Conexiones entre plantas" %}</h1>

    <a class="link-1" href="{% url 'map_editor.views.index' %}">{% trans "Volver al menú" %}</a>


    <form class="box box-1" name="formul">
        <div class="connector">
            <input placeholder="{% trans "Arista1" %}.." id="textbox1" type="text">
            <br>
            <select id="select1" name="miSelect1" multiple=""></select>
        </div>

        <div class="connector">
            <input placeholder="{% trans "Arista2" %}.." id="textbox2" type="text">
            <br>
            <select id="select2" name="miSelect2" multiple=""></select>
        </div>

        <input class='btn' type="button" value="{% trans "Save connection" %}">
{#               onclick="javascript:agregaArista(document.formul.miSelect1,document.formul.miSelect2)">#}
    </form>

    <div id="caja1" class="box box-0 connection-list">
        <h4>{% trans "Lista de conexiones" %}</h4>

        <div id="caja2" class="box box-1">
            <ul>
                <div id="lista_connections"></div>
            </ul>
        </div>
    </div>

{% endblock %}


