{% extends "base.html" %}

{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map_editor/styles.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map_editor/index/styles.css"/>
{% endblock css %}


{% block js %}
    <script src="{{ STATIC_URL }}vendor/bootstrap/bootstrap.file-input.js"></script>
    <script src="{{ STATIC_URL }}js/map_editor/index/main.js"></script>
{% endblock js %}


{% block content %}

    {% csrf_token %}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                {% include "_lang_selector.html" %}
                <a class="brand" href="#">{% trans "Administración de recintos" %}</a>

                <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="#"><i class="icon-white icon-dashboard"></i>{% trans "Dashboard" %}</a></li>
                    <li><a href="#"><i class="icon-white icon-link"></i>{% trans "Web del recinto" %}</a>
                    </li>
                    <li><a href="#"><i class="icon-white icon-play-circle"></i>
                        {% trans "Labelee App" %}</a></li>
                    <li><a href="#"><i class="icon-white icon-book"></i> {% trans "Ayuda" %}</a></li>
                </ul>
                <ul class="nav pull-right">
{#                    <li><p class="navbar-text"><i class="icon-white icon-download"></i> Download:</p></li>#}
{#                    <li>#}
{#                        <div class="btn-group">#}
{#                            <a class="btn btn-small btn-primary" href="#">PDF</a>#}
{#                            <a class="btn btn-small btn-primary" href="#">E-MAIL</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
                    <li>
                        <!-- CAJITA DE LOGOUT -->
                        {% if user.is_authenticated %}
                            <div id="logout" class="box box-1">
                                {% trans "Bienvenido" %}, {{ user.username }}
                                <a class="link-1" href="{% url 'django.contrib.auth.views.logout' %}">
                                    <i class="icon-signout"></i> {% trans "Salir" %}
                                </a>
                            </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->


        </div>
    </div>
</div>

{#    <h1>{% trans "Administración de recintos" %}</h1>#}

    {% if user.logo %}
        <img src="{{ MEDIA_URL }}{{ user.logo }}">
    {% endif %}


    <div ng-controller="EnclosureListCtrl">
        <label id="search_box">{% trans "Buscar recinto" %}:
            <input class="input-medium search-query"
                   type="text" ng-model="search.name"
                   placeholder="{% trans "Nombre del recinto" %}..">
        </label>

            <span id="addEnclosureBtn" class="btn link-2" ng-click="show_create_enclosure_form($event)">
                <i class="icon-plus-sign"></i>
                {% trans "Agregar nuevo recinto" %}
            </span>
        <table id="enclosures" class="table table-hover">
        <thead>
        <tr>
            <th>
                <h3><span>{% trans "Recintos" %}</span></h3>
            </th>
            <th>
                <h3><span>{% trans "Plantas" %}</span></h3>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="enclosure in enclosures | orderBy:'name':reverse | filter:search"
            ng-controller="EnclosureCtrl">

            <td class="enclosure"
                ng-mouseover="hovered = true" ng-mouseleave="hovered = false">

                <img ng-show="enclosure.logo" class="logo" ng-src="[[enclosure.logo]]">
                <div class="info">
                    <h2>[[enclosure.name]]</h2>

                    <h4 ng-show="enclosure.twitter_account">@[[enclosure.twitter_account]]</h4>
                    <div class="urls">
                        <a ng-show="enclosure.url_enclosure"
                           href="[[enclosure.url_enclosure | url]]"><i class="icon-link"></i>{% trans  "Web del recinto" %}</a>
                        <a ng-show="enclosure.url_dashboard"
                           href="[[enclosure.url_dashboard | url]]"><i class="icon-dashboard"></i>{% trans  "Ver dashboard" %}</a>
                    </div>

                    <div class="buttons">
                        <button class="btn link-2" ng-click="show_edit_form($event)">
                            <i class="icon-pencil icon-white"></i>{% trans "Editar" %}
                        </button>
                        <a class="btn link-2" ng-click="calculateRoutes()">
                            <i class="icon-road icon-white"></i> {% trans "Calcular rutas" %}
                        </a>
                        <a class="btn link-2" id="aristas" href='edit/connections/[[enclosure.id]]'>
                            <i class="icon-random icon-white"></i> {% trans "Conexiones entre plantas" %}
                        </a>
                    </div>
                </div>


            </td>

            <!-- PLANTAS -->
            <td class="floors"
                ng-mouseover="hovered = true" ng-mouseleave="hovered = false"
                ng-controller="FloorListCtrl">

                <!-- CADA PLANTA -->
                <table class="table table-bordered"
                       ng-hide="enclosure.floors.length == 0">
                    <thead>
                    <tr>
                        <th><h4>{% trans "Plantas" %} ([[enclosure.floors.length]])</h4></th>
                        <th><h4>{% trans "Puntos de interés" %} ([[enclosure.poi_count]])</h4></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="floor in enclosure.floors | orderBy:'floor_number':desc"
                            ng-controller="FloorCtrl" class="floor">
                            <td>
                                [[floor.name]]
                                <button class="btn link-2" ng-click="show_edit_floor_form($event)">
                                    {% trans "Editar planta" %}
                                </button>
                            </td>
                            <td>
                                [[floor.poi_count]]
                                <a href="[[urls.map_editor.edit]]/[[floor.id]]">
                                   <button class="btn link-2">{% trans "Editar POIs" %}</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <span class="btn link-2" ng-click="show_create_floor_form($event)">
                    <i class="icon-plus-sign"></i>
                    {% trans "Agregar nueva planta" %}
                </span>
            </td>


        </tr>
        </tbody>
    </table>

    </div>


    <!--
        DIÁLOGOS
                    -->
    <div id="dialogs">
        <div id="enc_create" ng-controller="EnclosureFormsCtrl">
            <form class="create"
                  action=""
                  method="post"
                  enctype="multipart/form-data"
                  target="upload_target">
                <label class="txt">{% trans "Nuevo nombre:" %}
                    <input type="text"
                           ng-model="enclosure_name"
                           placeholder="{% trans "Nombre para el recinto" %}.."
                           autofocus>
                </label>
                <label class="txt">
                    {% trans "Cuenta de Twitter:" %}
                    <input type="text"
                           ng-model="twitter_account"
                           placeholder="{% trans "Cuenta de twitter" %}..">
                </label>
                <label class="txt">
                    {% trans "Logo del recinto:" %}
                    <input class="btn"
                               type="file"
                               name="logo"
                               title="{% trans "Subir imagen" %}">
                </label>
                <label class="txt">
                    {% trans "URL del recinto:" %}
                    <input type="text"
                           ng-model="url_enclosure"
                           placeholder="{% trans "Introduzca la URL del recinto" %}..">
                </label>
                <label class="txt">
                    {% trans "URL del dashboard:" %}
                    <input type="text"
                           ng-model="url_dashboard"
                           placeholder="{% trans "Introduzca la URL del dashboard" %}..">
                </label>

                <button class="btn" ng-click="create()">{% trans "Añadir recinto" %}</button>
            </form>
        </div>

        <div id="enc_edit" ng-controller="EnclosureFormsCtrl">
            <form class="edit"
                  action=""
                  method="post"
                  enctype="multipart/form-data"
                  target="upload_target">
                <label class="txt">{% trans "Nuevo nombre:" %}
                    <input type="text"
                           ng-model="enclosure_name"
                           placeholder="{% trans "Nuevo nombre para el recinto" %}.."
                           autofocus>
                </label>
                <label class="txt">
                    {% trans "Cuenta de Twitter:" %}
                    <input type="text"
                           ng-model="twitter_account"
                           placeholder="{% trans "Cuenta de twitter" %}..">
                </label>
                <label class="txt">
                    {% trans "Logo del recinto:" %}
                    <input class="btn"
                               type="file"
                               name="logo"
                               title="{% trans "Cambiar imagen" %}">
                </label>
                <label class="txt">
                    {% trans "URL del recinto:" %}
                    <input type="text"
                           ng-model="url_enclosure"
                           placeholder="{% trans "Introduzca la URL del recinto" %}..">
                </label>
                <label class="txt">
                    {% trans "URL del dashboard:" %}
                    <input type="text"
                           ng-model="url_dashboard"
                           placeholder="{% trans "Introduzca la URL del dashboard" %}..">
                </label>

                <button class="btn" ng-click="closeModalDialog()">{% trans "Cancelar" %}</button>
                <button class="btn" ng-click="update()">{% trans "Guardar" %}</button>

                <button class="btn" ng-click="del()">{% trans "Eliminar recinto" %}</button>
            </form>
        </div>


        <div id="floor_create" ng-controller="FloorFormsCtrl">
            <form class="create"
                  action=""
                  method="post"
                  enctype="multipart/form-data"
                  target="upload_target">

                <div class="form_content" ng-hide="sending_img">
                    <div class="box-3">
                        <label class="txt">{% trans "Nombre de planta" %}:
                            <input type="text"
                                   ng-model="floor_name"
                                   placeholder="{% trans "Nombre de planta" %}..">
                        </label>
                        <label class="txt">{% trans "Número" %}:
                            <input type="text"
                                   ng-model="floor_number"
                                   placeholder="{% trans "Número" %}..">
                        </label>
                        <input class="btn floor_img"
                               type="file"
                               name="img"
                               title="{% trans "Elegir imagen" %}">
                    </div>

                    <button class="btn" ng-click="create()">{% trans "Añadir planta" %}</button>
                </div>

                {% include "_waiting_gif.html" %}
            </form>
        </div>

        <div id="floor_edit" ng-controller="FloorFormsCtrl">
            <form class="edit"
                  action=""
                  method="post" enctype="multipart/form-data"
                  target="upload_target">

                <div class="box-2 editing-floor">
                    <label class="txt">{% trans "Nombre" %}:
                        <input type="text"
                               ng-init="floor_name=floor.name"
                               ng-model="floor_name"
                               placeholder="{% trans "Nuevo nombre para la planta" %}.."
                               autofocus>
                    </label>
                    <label class="txt">{% trans "Número" %}:
                        <input type="text"
                               ng-init="floor_number=floor.floor_number"
                               ng-model="floor_number"
                               ng-change="validate()"
                               placeholder="{% trans "Número" %}..">
                    </label>
                    <label class="txt">{% trans "Imagen .svg" %}:</label>
                    <input class="btn"
                           type="file"
                           name="img"
                           title="{% trans "Cambiar imagen" %}">
                    <label class="txt">{% trans "Imagen .png" %}:</label>
                    <input class="btn"
                           type="file"
                           name="imgB"
                           title="{% trans "Cambiar imagen" %}">
                </div>

                <button class="btn" ng-click="closeModalDialog()">{% trans "Cancelar" %}</button>
                <button class="btn" ng-click="update()">{% trans "Guardar" %}</button>
                <button class="btn" ng-click="del()">{% trans "Eliminar planta" %}</button>

                {% include "_waiting_gif.html" %}
            </form>
        </div>
    </div>


    {% include "_uploading_iframe.html" %}

{% endblock content %}
