{% extends "base.html" %}

{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map_editor/styles.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map_editor/index/styles.css"/>
{% endblock css %}


{% block js %}
    <script src="{{ STATIC_URL }}vendor/bootstrap/bootstrap.file-input.js"></script>
    <script src="{{ STATIC_URL }}js/map_editor/index/main.js"></script>
{% endblock js %}


{% block content %}

    {% csrf_token %}

    {% include "_lang_selector.html" %}


    <h1>
        {% trans "Administración de recintos" %}
    </h1>


    <!-- CAJITA DE LOGOUT -->
    {% if user.is_authenticated %}
        <div id="logout" class="box box-1">
            {% trans "Bienvenido" %}, {{ user.username }} |
            <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
        </div>
    {% endif %}


    <table id="enclosures"
           class="table table-hover"
           ng-controller="EnclosureListCtrl">
        <thead>
        <tr>
            <th>
                <span>{% trans "Recintos" %}</span>
                <i class="icon-plus-sign" ng-click="show_create_enclosure_form()"></i>
                <i class="icon-sort" ng-click="reverse = !reverse"></i>
            </th>
            <th>
                <span>{% trans "Plantas" %}</span>
            </th>
            <th>
                <span>{% trans "Categorías" %}</span>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="enclosure in enclosures | orderBy:'name':reverse"
            ng-controller="EnclosureCtrl">

            <td class="enclosure"
                ng-mouseover="hovered = true" ng-mouseleave="hovered = false">

                <h2>[[enclosure.name]]</h2>

                <button class="btn" ng-click="show_edit_form()">
                    {% trans "Editar" %}
                </button>

                <h4 ng-show="enclosure.twitter_account">@[[enclosure.twitter_account]]</h4>
                <img class="logo" src="[[enclosure.logo]]">
                <div class="urls">
                    <a ng-show="enclosure.url_enclosure"
                       href="[[enclosure.url_enclosure | url]]">{% trans  "Web del recinto" %}</a>
                    <a ng-show="enclosure.url_dashboard"
                       href="[[enclosure.url_dashboard | url]]">{% trans  "Ver dashboard" %}</a>
                </div>
                <div class="poi_count">{% trans "Número de POIS/QRs:" %} [[enclosure.poi_count]]</div>
                <div class="floor_count">{% trans "Número de plantas:" %} [[enclosure.floors.length]]</div>

                <div class="btn-group">
                    <a class="btn link-2" ng-click="calculateRoutes()">
                        <i class="icon-road icon-white"></i> {% trans "Calcular rutas" %}
                    </a>
                    <a class="btn link-2" id="aristas" href='edit/connections/[[enclosure.id]]'>
                        <i class="icon-pencil icon-white"></i> {% trans "Conexiones entre plantas" %}
                    </a>
                </div>
            </td>

            <!-- PLANTAS -->
            <td class="floors"
                ng-mouseover="hovered = true" ng-mouseleave="hovered = false"
                ng-controller="FloorListCtrl">

                <i class="icon-plus-sign" ng-click="show_create_floor_form()"></i>
                <i class="icon-sort"
                   ng-click="reverse = !reverse"
                   ng-show="enclosure.floors.length > 2"></i>

                <!-- CADA PLANTA -->
                <table ng-hide="enclosure.floors.length == 0">
                    <thead>
                    <tr>
                        <th>{% trans "Número" %}</th>
                        <th>{% trans "Nombre" %}</th>
                        <th>{% trans "POIs" %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="floor in enclosure.floors | orderBy:'floor_number':reverse"
                            ng-controller="FloorCtrl">
                            <td>
                                [[floor.floor_number]]
                            </td>
                            <td>
                                <a class="link-2"
                                   href="[[urls.map_editor.edit]]/[[floor.id]]">
                                    <span>[[floor.name]]</span>
                                </a>
                            </td>
                            <td>
                                [[floor.poi_count]]
                            </td>
                            <td>
                                <button class="btn" ng-click="show_edit_floor_form()">
                                    {% trans "Editar" %}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>

            <!-- CATEGORÍAS -->
            <td class="categories" ng-controller="CategoryListCtrl">
                <i class="icon-plus-sign" ng-click="show_create_category_form()"></i>
                <i class="icon-sort"
                   ng-click="reverse = !reverse"
                   ng-show="enclosure.label_categories.length > 5"></i>

                <ul>
                    <li ng-repeat="category in enclosure.label_categories | orderBy:'name'"
                        ng-controller="CategoryCtrl">
                        [[category.name]] ([[category.poi_count]])

                        <button class="btn"
                                ng-show="category.enclosure || user_is_staff"
                                ng-click="show_edit_category_form()">
                            {% trans "Editar" %}
                        </button>
                    </li>
                </ul>

{#                <div class="forms">#}
{#                    <div ng-include src="'category_forms'"></div>#}
{#                </div>#}
            </td>
        </tr>
        </tbody>
    </table>




    <!--
        DIÁLOGOS
                    -->
    <div id="dialogs">
        <div id="enc_create" ng-controller="EnclosureFormsCtrl">
            <form class="create"
                  action=""
                  method="post"
                  enctype="multipart/form-data"
                  target="upload_target">
                <label class="txt">Nuevo nombre:
                    <input type="text"
                           ng-model="enclosure_name"
                           placeholder="{% trans "Nombre para el recinto" %}.."
                           autofocus>
                </label>
                <label class="txt">
                    Cuenta de Twitter:
                    <input type="text"
                           ng-model="twitter_account"
                           placeholder="{% trans "Cuenta de twitter" %}..">
                </label>
                <label class="txt">
                    Logo del recinto:
                    <input class="btn"
                               type="file"
                               name="logo"
                               title="{% trans "Subir imagen" %}">
                </label>
                <label class="txt">
                    Url del recinto:
                    <input type="text"
                           ng-model="url_enclosure"
                           placeholder="{% trans "Introduzca la url del recinto" %}..">
                </label>
                <label class="txt">
                    Url del dashboard:
                    <input type="text"
                           ng-model="url_dashboard"
                           placeholder="{% trans "Introduzca la url del dashboard" %}..">
                </label>

                <button class="btn" ng-click="create()">{% trans "Añadir recinto" %}</button>
            </form>
        </div>

        <div id="enc_edit" ng-controller="EnclosureFormsCtrl">
            <form class="edit"
                  action=""
                  method="post"
                  enctype="multipart/form-data"
                  target="upload_target">
                <label class="txt">Nuevo nombre:
                    <input type="text"
                           ng-model="enclosure_name"
                           placeholder="{% trans "Nuevo nombre para el recinto" %}.."
                           autofocus>
                </label>
                <label class="txt">
                    Cuenta de Twitter:
                    <input type="text"
                           ng-model="twitter_account"
                           placeholder="{% trans "Cuenta de twitter" %}..">
                </label>
                <label class="txt">
                    Logo del recinto:
                    <input class="btn"
                               type="file"
                               name="logo"
                               title="{% trans "Cambiar imagen" %}">
                </label>
                <label class="txt">
                    Url del recinto:
                    <input type="text"
                           ng-model="url_enclosure"
                           placeholder="{% trans "Introduzca la url del recinto" %}..">
                </label>
                <label class="txt">
                    Url del dashboard:
                    <input type="text"
                           ng-model="url_dashboard"
                           placeholder="{% trans "Introduzca la url del dashboard" %}..">
                </label>

                <button class="btn" ng-click="closeModalDialog()">{% trans "Cancelar" %}</button>
                <button class="btn" ng-click="update()">{% trans "Guardar" %}</button>

                <button class="btn" ng-click="del()">{% trans "Eliminar recinto" %}</button>
            </form>
        </div>


        <div id="floor_create" ng-controller="FloorFormsCtrl">
            <form class="create"
                  action=""
                  method="post"
                  enctype="multipart/form-data"
                  target="upload_target">

                <div class="form_content" ng-hide="sending_img">
                    <div class="box-3">
                        <label class="txt">{% trans "Nombre de planta" %}:
                            <input type="text"
                                   ng-model="floor_name"
                                   placeholder="{% trans "Nombre de planta" %}..">
                        </label>
                        <label class="txt">{% trans "Número" %}:
                            <input type="text"
                                   ng-model="floor_number"
                                   placeholder="{% trans "Número" %}..">
                        </label>
                        <input class="btn floor_img"
                               type="file"
                               name="img"
                               title="{% trans "Elegir imagen" %}">
                    </div>

                    <button class="btn" ng-click="create()">{% trans "Añadir planta" %}</button>
                </div>

                {% include "_waiting_gif.html" %}
            </form>
        </div>

        <div id="floor_edit" ng-controller="FloorFormsCtrl">
            <form class="edit"
                  action=""
                  method="post" enctype="multipart/form-data"
                  target="upload_target">

                <div class="box-2 editing-floor">
                    <label class="txt">{% trans "Nombre" %}:
                        <input type="text"
                               ng-init="floor_name=floor.name"
                               ng-model="floor_name"
                               placeholder="{% trans "Nuevo nombre para la planta" %}.."
                               autofocus>
                    </label>
                    <label class="txt">{% trans "Número" %}:
                        <input type="text"
                               ng-init="floor_number=floor.floor_number"
                               ng-model="floor_number"
                               ng-change="validate()"
                               placeholder="{% trans "Número" %}..">
                    </label>
                    <input class="btn"
                           type="file"
                           name="img"
                           title="{% trans "Cambiar imagen" %}">
                </div>

                <button class="btn" ng-click="closeModalDialog()">{% trans "Cancelar" %}</button>
                <button class="btn" ng-click="update()">{% trans "Guardar" %}</button>
                <button class="btn" ng-click="del()">{% trans "Eliminar planta" %}</button>

                {% include "_waiting_gif.html" %}
            </form>
        </div>


{#        <script type="text/ng-template" id="category_forms">#}
        <div id="category_create" ng-controller="CategoryFormsCtrl">
            <form class="create">
                <span>{% trans "Nueva categoría para el recinto" %} [[enclosure.name]]</span>
                <label class="txt">{% trans "Nombre" %}:
                    <input type="text"
                           ng-model="category_name"
                           placeholder="{% trans "Nombre para la categoría" %}..">
                </label>
                <label class="txt">{% trans "Color" %}:
                    <input type="text"
                           ng-model="category_color"
                           placeholder="{% trans "Color para la categoría" %}..">
                </label>
                <button class="btn" ng-click="create()">{% trans "Añadir categoría" %}</button>
            </form>
        </div>


        <div id="category_edit" ng-controller="CategoryFormsCtrl">
            <form class="edit">
                <label class="txt">{% trans "Nombre" %}:
                    <input type="text"
                           ng-model="category_name"
                           placeholder="{% trans "Nuevo nombre para la categoría" %}..">
                </label>
                <label class="txt">{% trans "Color" %}:
                    <input type="text"
                           ng-model="category_color"
                           placeholder="{% trans "Nuevo color para la categoría" %}..">
                </label>
                <button class="btn" ng-click="closeModalDialog()">{% trans "Cancelar" %}</button>
                <button class="btn" ng-click="update()">{% trans "Guardar" %}</button>
                <button class="btn" ng-click="del()">{% trans "Eliminar" %}</button>
            </form>
        </div>
{#        </script>#}
    </div>


    {% include "_uploading_iframe.html" %}

{% endblock content %}
