.qrimage{
    width: 250px;
    margin-left: 6%;
    margin-top: 6%;
}

.body {
    width: 590px;
}
.divqrimage{

    width: 284px;

}
.qrlabel{
    margin-left: 50%;
    font-size: 1em;
    font-weight: bold ;
}