body
{
    position: relative;
}

img#fake
{
    width: 1022px;
    height: 700px;
    top: 0px;
    left: 0px;
    position: absolute;

}

div#grid
{
    width: 1022px;
    height: 700px;
    top: 0px;
    left: 0px;
    position: absolute;
}

