body
{
    position: relative;
}

img#fake
{
    width: 2044px;
    height: 1400px;
    top: 0px;
    left: 0px;
    position: absolute;

}

div#grid
{
    width: 2044px;
    height: 1400px;
    top: 0px;
    left: 0px;
    position: absolute;
}

