body
{
	width: 80%;
	margin: 50px auto;
	text-align: center;
	/*background: black*/
    background-color: #bababa;
}

#grid
{

	background-size: 100%;
	box-shadow: 1px 1px 10px;
	/*height: auto;*/
	margin: 0 auto;
	/*width: auto;*/
}

#grid .row
{
	position: relative;
	margin-left: 0;
}

#grid .block
{
	display: inline-block;
	position: relative;
	/*border: 1px solid;*/
	/*background: black;*/
	/*margin: 3px;*/
}

#grid .block img
{
	position: absolute;
	left: 0;
	top: 0;
}

#puntos{

}

#caja-check{

}


#menu #num_rows
{
    width: 2em;
    text-align: right;
    margin-top: 0.5em;
}

#menu input[name="map_name"]
{

}

#toggle_erase_mode{
    margin-left: 4%;
}

.box
{

}

.box input[type="text"]
{
	width: 12em;
}

.box select
{
	width: 12em;
}

.box-0
{
	margin: 0.4em;
	padding: 0.7em;
    display: inline-block;
    vertical-align: top;
}

.box-1
{
	display: inline-block;
	background: #D9D4C7;
	padding: 0.6em;
	border-radius: 0.4em;
	margin: 0.3em 0.4em;
    vertical-align: top;
}

.box-2
{
    display: inline-block;
    background: rgb(196, 190, 170);
    padding: 1em;
    border: 1px solid grey;
    border-radius: 0.4em;
    box-shadow: 1px 1px 5px black;
    vertical-align: middle;
    margin: 0.4em;
}


iframe
{
	display: none;
}

#label-form, #category-form
{
	display:none;
}

img#fake
{
    width: 1px;
    height: 1px;
    color: transparent;
}


.qr_info
{
    position: absolute;
    z-index: 1;
    background: #ffffff;
    display: none;
    background: #ffffff;
    padding: 0.4em;
    border: 6px solid;
}

.label_pos
{
    background: #ffffff;
    position: absolute;
    z-index: 1;
    display: none;
    padding: 0.5em;
    width: 4em;
    border: 0.2em solid grey;
}

.hovered
{
    background: rgb(196, 223, 233);
    border: 0.4em solid;
}


.label_img
{
    display: none;
}

.connector_descr
{
    position: absolute;
    display: none;
    background: #ffffff;
    padding: 1em;
    z-index: 2;
}


h4{
   color: #FEFAF1;
   font-family: 'raleway';
}

a{
    color: #FEFAF1;
}

.new{
    color: #777777;
}

.delete{
    color: #777777;
}

#caja2{
    float:left;
    width: 40%;
    margin-top: 3%;
    margin-right: 3%;
}

ul{
    list-style: none;
}

.block .menu
{
    display: none;
    background: white;
    position: absolute;
    padding: 1em;
    z-index: 3;
}

#loadingScreen {
    background: url(../../../img/ajax-loader.gif) no-repeat 5px 8px;
    padding: 1em;
}

button#update_floor
{
    margin-left: 2em;
}

.back_button
{
    background: rgb(173, 157, 101);
    padding: 0.3em 1em;
    border: 0px solid grey;
    border-radius: 0em;
    box-shadow: 0px 0px 0px black;
    margin: 0;
}

input[name="color"]
{
    width: 6em !important;
}

button[name="create"], button[name="cancel"]
{
    margin-top: 1em;
    margin-bottom: -1em;
}

#category-form a{
    margin-bottom: 0.6em;
}

