{% extends "base.html" %}


    {% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/map_editor/index/styles.css"/>
    {% endblock css %}


    {% block js%}
        <script src="{{ STATIC_URL }}vendor/js/bootstrap.file-input.js"></script>

        <script src="{{ STATIC_URL }}js/map_editor/index/handlers.js"></script>
        <script src="{{ STATIC_URL }}js/map_editor/index/main.js"></script>
    {% endblock js %}


    {% block content %}

        {% csrf_token %}

        <h1>Tus lugares</h1>

        <div class="box box-0" id="places">

            <div id="place_form">
                <input type="text" name="place" placeholder="Nombre del lugar..">
                <button class="btn" id="add_place">Añadir lugar</button>
            </div>

        </div>


    {% include "_uploading_iframe.html" %}


    <!-- PLANTILLAS -->
    {% include "map_editor/index/moustache_tpls.html" %}

    {% endblock content %}
