<!-- MAPAS PARA EL LUGAR -->
<div class="maps box box-2" ng-controller="MapsCtrl">
 
                    <!-- PARA AGREGAR MAPA -->
    <form action=""
        method="post" enctype="multipart/form-data"
        target="upload_target">
        {% csrf_token %}
        
        <input type="file" name="img" title="Elegir imágen..">
        <input type="text" ng-model="" placeholder="Nombre de mapa..">
        
        <button class="btn" ng-click="create()">Añadir mapa</button>
    </form>

    <h4 ng-show="place.maps">Mapas:</h4>

	<!-- CADA MAPA -->
    <div class="map " 
    	fadey="1000"
    	ng-repeat="map in place.maps"
    	ng-controller="MapCtrl">
    	
        <span class="map_name">[[map.name]]</span>
        <div class="action_box">
            <i class="icon-edit" ng-click="update()"></i>
            <i class="icon-remove" ng-click="delete()"></i>
        </div>
    </div>
</div>