{% extends "base.html" %}

{% load i18n %}


{% block css %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/map_editor/connections/main.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>

{% endblock %}

{% block js %}

    <script src="{{ STATIC_URL }}js/map_editor/connections/main.js"></script>
    <script>
        Connections.enclosure_id = {{ enclosure_id }};
    </script>
{#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>#}
{% endblock %}

{% block content %}


    <h1>{% trans "Gestión de aristas" %}</h1>

    <a href="{% url 'map_editor.views.index' %}">{% trans "Volver al menú" %}</a>


    <form name="formul">
        <input placeholder="{% trans "Arista1" %}.." id="textbox1" type="text">
        <br>
        <select id="select1" name="miSelect1" multiple=""></select>
        <br>
        <br>
        <input placeholder="{% trans "Arista2" %}.." id="textbox2" type="text">
        <br>
        <select id="select2" name="miSelect2" multiple=""></select>

        <br>
        <br>
        <input class='btn' type="button" value="{% trans "Guardar connection" %}">
{#               onclick="javascript:agregaArista(document.formul.miSelect1,document.formul.miSelect2)">#}
    </form>

    <div id= caja1 name="caja1">
        <h4>{% trans "Lista de conexiones" %}</h4>

        <div id="caja" name="caja2">
            <ul id="ul">
            <div id="lista_connections">
            </div>
            </ul>
        </div>
    </div>

{% endblock %}


