{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map_editor/edit_map/styles.css"/>
    <link rel="stylesheet" media = "print" href="{{ STATIC_URL }}css/map_editor/edit_map/print.css"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>

{% endblock css %}

{# prueba cambio#}
{% block js %}
    <script src="{{ STATIC_URL }}js/map_editor/edit_map/menu.js"></script>
    <script src="{{ STATIC_URL }}js/map_editor/edit_map/painter.js"></script>
    <script src="{{ STATIC_URL }}js/map_editor/edit_map/events.js"></script>
    <script src="{{ STATIC_URL }}js/map_editor/edit_map/floor.js"></script>
    <script src="{{ STATIC_URL }}js/map_editor/edit_map/elements.js"></script>
    <script src="{{ STATIC_URL }}js/map_editor/edit_map/paint_historial.js"></script>

    <script src="{{ STATIC_URL }}js/map_editor/edit_map/main.js"></script>

    <script>
        var floor_id = "{{ floor_id }}";
    </script>
{% endblock js %}

{% block content %}

    {% csrf_token %}

    <!-- GRID PARA EL PLANO DE LA PLANTA -->
    <!-- <img src = "http://127.0.0.1:8000/media/img/enclosures/Recinto1/floors/27.jpg" id = "fake"> -->
    <div id="grid"></div>

    <div class="box box-0 alert">Antes de poner un QR guardar el plano</div>

    <!--MENU-->
    <div id="menu" class="box box-0">

        <div>
            <h4>Puntos:</h4>
            Guardados: <span id="num_saved_points"></span> <br>
            Por guardar: <span id="num_points_to_save"></span> <br>
            Por elminar: <span id="num_points_to_delete"></span> <br>
            Total: <span id="num_total_points"></span> <br>
        </div>

        <a href="{% url 'map_editor.views.index' %}">Volver al menú</a>

        <input type="checkbox" id="toggle_border" checked>Ver rejilla

        Filas:
            <input type="text"
                   id="num_rows"
                   value="20">
            = <span id="num_blocks"></span>

        <button id="update_floor">Guardar</button>
        <button id="clear_floor">Limpiar</button>

        <!-- MENU POI -->
        <div class="box box-1">
            <span class="title">Elegir POI:</span>
            <br>

            <div id="category" class="box box-2">
                Categoría:
                <br>
                <select></select>
                <a class="new" href=''>Nueva</a>
                <!--<a class="edit" href=''>Editar</a>-->
                <a class="delete" href=''>Eliminar</a>
            </div>

            <div id="label" class="box box-2">
                POI:
                <br>
                <select></select>
                <a class="new" href=''>Nuevo</a>
                <!--<a class="edit" href=''>Editar</a>-->
                <a class="delete" href=''>Eliminar</a>
            </div>
        </div>

        <!--
        Cajas para crear objeto o categoría
        -->

        <div id="category-form" class="box box-1">

            <span class="title">Crear categoría:</span>
            <br>

            <form action=""
                  method="post" enctype="multipart/form-data"
                  target="upload_target">
                <input type="text" name="name"
                       placeholder="Nombre para la categoría.."/>
                <br>

                <!-- Campo para la imágen -->
                Icono para la categoría:
                <input type="file" name="img" title="Elegir imágen..">
                <br>

                Color de bloque:
                <input type="text" name="color"
                       placeholder="Color.."/>
                <br>

                <button name="create">Crear</button>
            </form>
        </div>

        <div id="label-form" class="box box-1">
            <span class="title">Crear POI:</span>
            <br>

            <form action=""
                  method="post" enctype="multipart/form-data"
                  target="upload_target">
                <input type="text" name="name"
                       placeholder="Nombre para el POI.."/>
                <br>

                Para la categoría:
                <select></select>

                Imágen del objeto:
                <input type="file" name="img" title="Elegir imágen..">

                <button name="create">Crear</button>
            </form>
        </div>

        <!-- LISTA DE QRs -->
        <div id="qr_list" class="box box-0">
            <h4>Lista de QRs:</h4>
            <input type="checkbox" id="toggle_qrs">Resaltar todos
            <ul></ul>
        </div>
    </div>



    {% include "_uploading_iframe.html" %}

{% endblock content %}