{% extends "base.html" %}


{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/map_editor/edit_map/styles.css"/>
{% endblock css %}


{% block js %}
<script src="{{ STATIC_URL }}js/map_editor/edit_map/events.js"></script>
<script src="{{ STATIC_URL }}js/map_editor/edit_map/map.js"></script>
<script src="{{ STATIC_URL }}js/map_editor/edit_map/paint.js"></script>
<script src="{{ STATIC_URL }}js/map_editor/edit_map/paint_historial.js"></script>
<script src="{{ STATIC_URL }}js/map_editor/edit_map/menu.js"></script>

<script src="{{ STATIC_URL }}js/map_editor/edit_map/main.js"></script>
{% endblock js %}


{% block content %}

    <!-- Imagen del mapa -->
    <span id="map_src" style="display: none">{{ STATIC_URL }}img/map.jpg</span>

    <!-- GRID -->
    <div id="grid"></div>


    <div id="menu" ng-app="myApp">

        <div class="box box-0">

            <span class="title">Grid:</span><br>

            <div class="box box-1">
                Filas:
                <input type="text"
                    name="num_rows"
                    value="20"
                />

                = <span id="num_blocks"></span>
            </div>

            <div class="box box-1">

                <input type="text" name="grid_name"
                    placeholder="Nombre para nuevo grid.."/>

                <button name="create_grid">Guardar</button>
            </div>
        </div>


        <div class="box box-0">

            <span class="title">Cargar grid:</span><br>

            <select name="grid_selector"></select>

            <button name="delete_grid">Eliminar grid</button>
        </div>


        <div id="choose-object" class="box box-0">
            <span class="title">Objetos:</span><br>


            <div class="box box-1">
                <span class="title">Elegir objeto:</span><br>

                <div class="box box-2">
                    Categoría:<br>
                    <select name="category"></select>
                    <a id="new_category" href=''>Nueva Categoría</a>
                </div>

                <div class="box box-2">
                    Objeto:<br>
                    <select name="object"></select>
                    <a id="new_object" href=''>Nuevo Objeto</a>
                </div>
            </div>



            <!--
                Cajas para crear objeto o categoría
            -->


            <div id="category-form" class="box box-1">

                <span class="title">Crear categoría:</span><br>

                <!-- <form action="/api-2/file-upload/object-type" -->

                <input type="text" name="name"
                    placeholder="Nombre para la categoría.."/><br>

                <!-- Campo para la imágen -->
                Imágen de la categoría:
                <form action=""
                    method="post" enctype="multipart/form-data"
                    target="upload_target"
                >
                    {% csrf_token %}
                    <input type="file" name="img" title="Elegir imágen..">
                </form>

                <button name="create">Crear</button>
            </div>



            <div id="object-form" class="box box-1">
                <span class="title">Crear objeto:</span><br>

                <!-- <form action="/api-2/file-upload/object-type" -->

                <input type="text" name="object_name"
                    placeholder="Nombre para el objeto.."/><br>

                Para la categoría:
                <select name="category"></select>

                <!-- Campo para la imágen -->
                Imágen del objeto:
                <form action=""
                    method="post" enctype="multipart/form-data"
                    target="upload_target"
                >
                    {% csrf_token %}
                    <input type="file" name="img" title="Elegir imágen..">
                </form>

                <button name="create">Crear</button>
            </div>
        </div>
    </div>

    {% include "_uploading_iframe.html" %}

{% endblock content %}




<!-- <form class="ejemplo">
        <div class="input-append">
            <div class="btn-group dropup">
                <a class="btn btn-info">
                    <i class="icon-qrcode"></i> Etiqueta
                </a>
                <a class="btn btn-info">
                    <i class="icon-ban-circle"></i> Pared
                </a>
                <a class="btn btn-info">
                    <i class="icon-remove"></i> Borrar
                </a>

                <ul class="dropdown-menu" id="listaComunes">
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#"><i class="icon-star"></i> Puntos de interés</a>
                        <ul class="dropdown-menu" id="listaCategorias">
                            <li><a href="JavasCript:addCat()"> Añadir categoría</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </form> -->