{% extends "base.html" %}


    {% block css %}
        <link rel="stylesheet" href="/media/map_editor/index/styles.css"/>
    {% endblock css %}


    {% block js%}
        <script src="/media/vendor/js/bootstrap.file-input.js"></script>

        <script src="/media/map_editor/index/handlers.js"></script>
        <script src="/media/map_editor/index/main.js"></script>
    {% endblock js %}


    {% block content %}
        {% csrf_token %}

        <h1>Tus lugares</h1>

        <div id="places" class="element-box">

            <div id="place_form">
                <input type="text" name="place" placeholder="Nombre del lugar..">
                <button class="btn" id="add_place">Añadir lugar</button>
            </div>

            {% for place in places %}

                {% include "map_editor/elements/_place.html" %}

            {% endfor %}
        </div>

    <!-- Para no refrescar la página al subir la imágen, la petición irá hacia este iframe escondido en el documento

    -->
    <iframe id="upload_target" name="upload_target" src=""></iframe>

    <!-- PLANTILLAS -->
    {% include "map_editor/elements/elements.html" %}

    {% endblock content %}
