{% extends "base.html" %}


{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map_editor/index/styles.css"/>
{% endblock css %}


{% block js %}
    <script src="{{ STATIC_URL }}vendor/bootstrap/bootstrap.file-input.js"></script>

    <script src="{{ STATIC_URL }}js/map_editor/index/main_angular.js"></script>

    <script>
        var constants = {{ constants }};
    </script>
{% endblock js %}


{% block content %}

    {% csrf_token %}

    <h1>Administración de recintos</h1>

    <div id="enclosures" class="box box-0" ng-controller="EnclosuresCtrl">

        <!--PARA AGREGAR LUGAR -->
        <form>
            {#            <div ng-include src="{{ STATIC_URL }}partials/_form_alert_box.html"></div>#}

            <input type="text"
                   ng-model="enclosure_name"
                   ng-change="validate()"
                   placeholder="Nombre del recinto..">

            <button class="btn" ng-click="createEnclosure()">Añadir recinto</button>
        </form>

        <!--CADA LUGAR-->
        <div class="enclosure box box-1"
             fadey="1000"
             ng-repeat="enclosure in enclosures"
             ng-controller="EnclosureCtrl">

            <!--<include src="{{ STATIC_URL }}partials/_enclosure.html"></include>-->

            <div class="editable_element">
                <div ng-hide="editing">
                    <h3>[[enclosure.name]]</h3>

                    <div class="action_box">
                        <i class="icon-edit" ng-click="update()"></i>
                        <i class="icon-remove" ng-click="del()"></i>
                    </div>

                    <button ng-click="calculateRoutes()">Calcular rutas</button>
                </div>
                <div ng-show="editing">
                    <form>
                        <input type="text"
                               ng-init="enclosure_name=enclosure.name"
                               ng-model="enclosure_name"
                               ng-change="validate()"
                               placeholder="Nuevo nombre para el recinto.."
                               autofocus>
                        <button ng-click="update()">Editar</button>
                    </form>
                    <div class="action_box">
                        <i class="icon-remove"
                           ng-click="del('¿Seguro que desea eliminar el recinto [[enclosure_name]]? (se perderá toda su información)')">
                        </i>
                    </div>
                </div>
            </div>


            <!--PLANTAS PARA EL RECINTO-->
            <div class="floors box box-2" ng-controller="FloorsCtrl">
                <!--PARA AGREGAR PLANTA-->
                <h4>Nueva planta:</h4>
                <form action=""
                      method="post"
                      enctype="multipart/form-data"
                      target="upload_target">

                    <div class="form_content" ng-hide="sending_img">
                        <input type="file"
                               name="img"
                               title="Elegir imágen..">
                        <input type="text"
                               ng-model="floor_name"
                               placeholder="Nombre de planta..">

                        <button class="btn" ng-click="createFloor()">Añadir planta</button>
                    </div>

                    <div class="ajax_gif" ng-show="sending_img">
                        <img src="{{ STATIC_URL }}img/ajax-loader.gif">
                    </div>
                </form>

                <h4 ng-show="floors">Plantas:</h4>

                <!--CADA PLANTA-->
                <div class="floor"
                     fadey="1000"
                     ng-repeat="floor in floors"
                     ng-controller="FloorCtrl">

                    <div class="editable_element">
                        <div ng-hide="editing">
                            <h3>
                                <a href="[[urls.map_editor.edit]]/[[floor.id]]">
                                    [[floor.name]]
                                </a>
                            </h3>

                            <div class="action_box">
                                <i class="icon-edit" ng-click="update()"></i>
                                <i class="icon-remove" ng-click="del()"></i>
                            </div>
                        </div>

                        <div ng-show="editing">
                            <div class="form_content" ng-hide="sending_img">
                                <form action=""
                                      method="post" enctype="multipart/form-data"
                                      target="upload_target">

                                    <!--<div ng-include src="_form_alert_box"></div>-->

                                    <input type="text"
                                           ng-init="floor_name=floor.name"
                                           ng-model="floor_name"
                                           ng-change="validate()"
                                           placeholder="Nuevo nombre para la planta.."
                                           autofocus>
                                    <input type="file" name="img" title="Cambiar imágen..">

                                    <button class="btn" ng-click="update()">Editar</button>
                                </form>
                            </div>

                            <div class="ajax_gif" ng-show="sending_img">
                                <!-- Ponemos ng-src en lugar de src para que se procese la interpolación antes
                                de cargar la imágen -->
                                <img ng-src="[[urls.static.img]]/ajax-loader.gif">
                            </div>

                            <div class="action_box">
                                <i class="icon-remove" ng-click="del()"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include "_uploading_iframe.html" %}

{% endblock content %}
