{% extends "base.html" %}

{% load i18n %}


{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map_editor/index/styles.css"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
{% endblock css %}


{% block js %}
    <script src="{{ STATIC_URL }}js/map_editor/index/main.js"></script>
{% endblock js %}


{% block content %}

    {% csrf_token %}

    <form action="/i18n/setlang/" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language">
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
            {% endfor %}
        </select>
        <input type="submit" value="Go" />
    </form>

    <h1>{% trans "Administración de recintos" %}</h1>

    <div id="enclosures" class="box box-0" ng-controller="EnclosuresCtrl">

        <!--PARA AGREGAR LUGAR -->
        <form>
            {#            <div ng-include src="{{ STATIC_URL }}partials/_form_alert_box.html"></div>#}

            <input type="text"
                   ng-model="enclosure_name"
                   ng-change="validate()"
                   placeholder="{% trans "Nombre del recinto" %}..">

            <button class="btn" ng-click="createEnclosure()">{% trans "Añadir recinto" %}</button>
        </form>

        <!--CADA LUGAR-->
        <div class="enclosure box box-1"
             fadey="1000"
             ng-repeat="enclosure in enclosures"
             ng-controller="EnclosureCtrl">

            <!--<include src="{{ STATIC_URL }}partials/_enclosure.html"></include>-->

            <div class="editable_element">
               <h2>[[enclosure.name]]</h2>
               <h4>[[enclosure.twitter_account]]</h4>

                <div id="botones-enclosure" ng-hide="editing">
                    <div class="action_box">
                        <i class="icon-edit" ng-click="update()"></i>
                        <i class="icon-remove" ng-click="del()"></i>
                    </div>

                    <button class= 'btn' ng-click="calculateRoutes()">{% trans "Calcular rutas" %}</button>

                    <a id='aristas' href="edit/connections/[[enclosure.id]]">{% trans "Gestión de aristas" %}</a>

                </div>
                <div ng-show="editing">
                    <form>
                        <input type="text"
                               ng-init="enclosure_name=enclosure.name"
                               ng-model="enclosure_name"
                               ng-change="validate()"
                               placeholder="{% trans "Nuevo nombre para el recinto" %}.."
                               autofocus>
                        <input type="text"
                               ng-init="twitter_account=enclosure.twitter_account"
                               ng-model="twitter_account"
                               ng-change="validate()"
                               placeholder="{% trans "Cuenta de twitter" %}..">
                        <button ng-click="update()">{% trans "Editar" %}</button>
                    </form>
                    <div class="action_box">
                        <i class="icon-remove"
                           ng-click="del()">
                        </i>
                    </div>
                </div>
            </div>


            <!--PLANTAS PARA EL RECINTO-->
            <div class="floors box box-2" ng-controller="FloorsCtrl">
                <!--PARA AGREGAR PLANTA-->
                <h4>{% trans "Nueva planta" %}:</h4>
                <form action=""
                      method="post"
                      enctype="multipart/form-data"
                      target="upload_target">

                    <div class="form_content" ng-hide="sending_img">
                        <input class="btn"
                               type="file"
                               name="img"
                               title="{% trans "Elegir imágen" %}..">
                        <input type="text"
                               ng-model="floor_name"
                               placeholder="{% trans "Nombre de planta" %}..">
                        <input type="text"
                               ng-model="floor_number"
                               placeholder="{% trans "Número" %}..">

                        <button class="btn" ng-click="createFloor()">{% trans "Añadir planta" %}</button>
                    </div>

                    <div class="ajax_gif" ng-show="sending_img">
                        <img src="{{ STATIC_URL }}img/ajax-loader.gif">
                    </div>
                </form>

                <h4 ng-show="floors">{% trans "Plantas" %}:</h4>

                <!--CADA PLANTA-->
                <div class="floor"
                     fadey="1000"
                     ng-repeat="floor in floors"
                     ng-controller="FloorCtrl">

                    <div class="editable_element">
                        <div ng-hide="editing">

                            <h3>
                                ([[floor.floor_number]])

                                <a href="[[urls.map_editor.edit]]/[[floor.id]]">
                                    [[floor.name]]
                                </a>
                            </h3>

                            <div class="action_box">
                                <i class="icon-edit" ng-click="update()"></i>
                                <i class="icon-remove" ng-click="del()"></i>
                            </div>
                        </div>

                        <div ng-show="editing">
                            <div class="form_content" ng-hide="sending_img">
                                <form action=""
                                      method="post" enctype="multipart/form-data"
                                      target="upload_target">

                                    <!--<div ng-include src="_form_alert_box"></div>-->
                                    Descr:
                                    <input type="text"
                                           ng-init="floor_name=floor.name"
                                           ng-model="floor_name"
                                           ng-change="validate()"
                                           placeholder="{% trans "Nuevo nombre para la planta" %}.."
                                           autofocus><br>
                                    Número:
                                    <input type="text"
                                           ng-init="floor_number=floor.floor_number"
                                           ng-model="floor_number"
                                           ng-change="validate()"
                                           placeholder="{% trans "Número" %}.."><br>
                                    <input type="file" name="img" title="{% trans "Cambiar imágen" %}..">

                                    <button class="btn" ng-click="update()">{% trans "Editar" %}</button>
                                </form>
                            </div>

                            <div class="ajax_gif" ng-show="sending_img">
                                <!-- Ponemos ng-src en lugar de src para que se procese la interpolación antes
                                de cargar la imágen -->
                                <img ng-src="[[urls.static.img]]/ajax-loader.gif">
                            </div>

                            <div class="action_box">
                                <i class="icon-remove" ng-click="del()"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include "_uploading_iframe.html" %}

{% endblock content %}
