{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% blocktrans %}
        <p>Por favor, introduzca su nueva contraseña 2 veces,
            de manera que podamos verificar si se escribió correctamente.</p>
    {% endblocktrans %}

    {#<p>Please enter your new password twice.<br />#}
    {#    So we can verify you typed it in correctly.</p>#}
    <form action="{% url 'django.contrib.auth.views.password_change' %}" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <table>
            <tr>
                <td>{{ form.old_password.errors }}
                    <label for="id_old_password">{% trans "Contraseña actual" %}:</label></td>
                <td>{{ form.old_password }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">{% trans "Nueva contraseña" %}:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">
                        {% trans "Confirmar nueva contraseña" %}:
                    </label>
                </td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="{% trans "Cambiar contraseña" %}" /></td>
            </tr>
        </table>
    </form>
{% endblock %}