#dialogs
{
    display: none;
}

.coupon img
{
    max-width: 1024px;
    max-height: 230px;
}

.coupon
{
    border: 1px solid #AFAA9B;
    border-radius: 0.4em;
}

.coupon button
{
    margin: 1em auto;
}

h1
{
    margin: 2em auto 1em;
}

.coupons
{
    margin: 0 auto;
    width: auto;
}

table.coupons td
{
    padding: 0.8em;
}

table.coupons tbody td
{
    vertical-align: middle;
    text-align: center;
}

#search_box input
{
    width: 19em;
}

#menu a
{
    color: orange;
    margin-left: 2em;
}