{% extends "base.html" %}


{% block css%}
<link rel="stylesheet" href="/media/map/styles.css"/>
{% endblock css%}



{% block js%}
<script>
var POS_X = {{ label.0 }};
var POS_Y = {{ label.1 }};
var BLOCK_SIZE = {{ block_size }}
</script>

<script src="/media/map/main.js"></script>
{% endblock js%}




{% block content %}


<div id="menu">
	<div class="boton"></div>
	<div class="boton"></div>
</div>

<!-- window.frames[ "map" ].window.scrollTo(300,500); -->

<iframe src="/media/iframe_map.html"/>
<!-- <iframe id='map' width="200px" height="200px" src="http://www.w3schools.com" >

</iframe>
 -->

<!--  <div id="map">
 	<img src="/media/common/map.jpg"></img>
 </div> -->



<div id="position_block"></div>



{% endblock content %}

