<!DOCTYPE html>
<html>
<head>
    <title>labelee v1</title>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <link href="http://fonts.googleapis.com/css?family=Noto+Sans|Just+Me+Again+Down+Here" rel="stylesheet"
          type="text/css">

    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/leaflet.awesome-markers.css">
    <!--link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/leaflet.rrose.css"-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/leaflet-search.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/search-mobile.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/multix.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/social.network.menu.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/animation.css">


    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/scale.fix.js"></script>
    <script src="{{ STATIC_URL }}vendor/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/hammer.js_v1.0.3/dist/hammer.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/hammer.js_v1.0.3/dist/jquery.hammer.min.js"></script>

    <!--script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script-->
    <!--script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script-->
    <!-- <script>L_PREFER_CANVAS = true;</script>-->
    <script src="{{ STATIC_URL }}vendor/leaflet/leaflet.js"></script>
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/bouncemarker.js"></script>
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/leaflet.awesome-markers.js"></script>
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/L.GeometryUtil.js"></script>
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/L.RotatedMarker.js"></script>
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/L.Symbol.js"></script>
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/L.PolylineDecorator.js"></script>
    <!--script src="{{ STATIC_URL }}vendor/leaflet/plugins/rrose-src.js"></script-->
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/leaflet-search.js"></script>
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/jquery.mmenu.js"></script>
    <script src="{{ STATIC_URL }}js/helpers/base.js"></script>
    <script src="{{ STATIC_URL }}js/helpers/ajax_helpers.js"></script>
    <script src="{{ STATIC_URL }}js/helpers/resource.js"></script>


    <script src="{{ STATIC_URL }}js/map/index/main.js"></script>
    <script src="{{ STATIC_URL }}js/map/index/social.network.menu.js"></script>
    <script src="{{ STATIC_URL }}js/map/index/modernizr.js"></script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-30904444-2', 'labelee.com');
        ga('send', 'pageview');

    </script>

</head>


<body>


<div id="page">

    <div id="header">
        <a href="#menu-right">
            <img src="{{ STATIC_URL }}css/map/index/images/logo.png"/>
        </a>
        <span id="fake"></span>
        labelee
    </div>
    <div id="content">
        <div id="map"></div>
    </div>
    <script>
        var STATIC_URL = {{ STATIC_URL }};
        var enclosure_id = {{ enclosure_id }};
        var floor_id = {{ floor_id }};
        var poi_id = {{ poi_id }};
        var qr_type = "{{ qr_type }}";
    </script>
    <script src="{{ STATIC_URL }}js/map/index/map.js"></script>

    <nav id="menu-right">
        <!--
        <div class="search">
            <input type="text" name="search" placeholder="Buscar..." autocomplete="off" />
        </div>
        -->
        <ul id="scrollMenu">
            <li class="Label"><span>Selecciona tu destino</span></li>
            {% for category, pois in categories.items %}
                <li>
                <li class="Label">{{ category }}</li>
                {% for destination in pois %}
                    <li onclick="$('#menu-right').trigger( 'close' );preDrawRoute({{ poi_id }},floor_id,{{ destination.id }},{{ destination.floor_id }})">{{ destination.description }}</li>
                {% endfor %}

                </li>
            {% endfor %}
            <li class="no-results"><span>Lo sentimos, no se ha encontrado ningún resultado.</span></li>
        </ul>
    </nav>
<!--Inicio menú social networks -->
 <span id="social" align="center">
     <ul class="navi">
         <li id="n1" class="n1"><a class="mjn-tab1" href="#" title="Compartir con Facebook" onclick="fbs_click()"><span> <i
                 class="icon-facebook-sign"></i></span></a>

         </li>
         <li id="n2" class="n2"><a class="mjn-tab2" href="#" title="Compartir con Twitter" onclick="twt_click()"><span>  <i
                 class="icon-twitter-sign"></i></span></a>
         </li>
         <li id="n3" class="n3"><a class="mjn-tab3" href="#" title="Compartir con google" onclick="google_click()"><span>  <i
                 class="icon-google-plus-sign"></i></span></a>

         </li>
         <li id="n4" class="n4"><a class="mjn-tab4" href="#" title="Compartirlo por mail" onclick="mail_click()"><span>  <i
                 class="icon-envelope"></i></span></a>
        </li>
         <li id="n6" class="n6"><a class="mjn-tab6" href="#"><span>   <i class="icon-share-alt"></i></span></a>
         </li>
     </ul>
        <!--     <i class="icon-facebook-sign"></i>
            <i class="icon-twitter-sign"></i>
            <i class="icon-plus-sign"></i>-->
        </span>
<!--Fin menú social networks -->
    <div style="background: rgb(17, 17, 17); background:rgba(17, 17, 17, 0.4); padding:0">
        <marquee align="center" direction="left" loop="40"
                 style="width:100%; z-index: 10000; position: absolute;bottom: 0;background:rgba(17, 17, 17, 0.4);color: #ddd">
            {% for text in marquee %}
                <span>{{ text }}</span>
            {% endfor %}
        </marquee>
    </div>
</div>
<script type='text/javascript'>

    $(function () {       
         $('div#page').hide();
        $('body').prepend('<div class="splash">    <div class="container">        <div class="sp-container"             >            <div class="frame-5"><span><img src="/media/logo-labelee-sin-slogan.png"></span></div>            <div id="find" class="frame-6">find<span id="your"> your<span id="way"> way!</span></span></div>        </div>    </div></div>')
        setTimeout(hideSplash, 4000);

    });
    function hideSplash() {
        $('div.splash').hide();      
        $('div#page').show();
        loopFloors(floor_index);

    }

</script>


</body>
</html>
