{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>labelee_beta</title>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <link href="http://fonts.googleapis.com/css?family=Noto+Sans|Just+Me+Again+Down+Here" rel="stylesheet"
          type="text/css">

    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/leaflet.awesome-markers.css">
    <!--link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/leaflet.rrose.css"-->
    <!--link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/leaflet-search.css"-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/leaflet.label.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/search-mobile.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/multix.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/social.network.menu.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/animation.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/idangerous.swiper.css">


    <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/scale.fix.js"></script>
    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}vendor/jquery-2.0.3.min.js"><\/script>')</script-->
    <script src="{{ STATIC_URL }}vendor/jquery-1.10.2.min.js"></script>

    <!--script src="{{ STATIC_URL }}vendor/hammer.js_v1.0.3/dist/hammer.min.js"></script-->
    <script src="{{ STATIC_URL }}vendor/hammer.js_v1.0.3/dist/jquery.hammer.min.js"></script>
    <!--script src="{{ STATIC_URL }}js/map/index/coupon.js"></script-->
    <script src="{{ STATIC_URL }}js/map/index/panorama.js"></script>
    <script src="{{ STATIC_URL }}js/map/index/socialmenu.js"></script>


    <!--script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script-->
    <!--script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script-->
    <!-- <script>L_PREFER_CANVAS = true;</script>-->
    <script src="{{ STATIC_URL }}vendor/leaflet/leaflet.js"></script>
    <!--script src="{{ STATIC_URL }}vendor/leaflet/plugins/bouncemarker.js"></script-->
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/leaflet.awesome-markers.js"></script>
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/L.GeometryUtil.js"></script>
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/L.RotatedMarker.js"></script>
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/L.Symbol.js"></script>
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/L.PolylineDecorator.js"></script>
    <!--script src="{{ STATIC_URL }}vendor/leaflet/plugins/rrose-src.js"></script-->
    <!--script src="{{ STATIC_URL }}vendor/leaflet/plugins/leaflet-search.js"></script-->
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/leaflet.label.js"></script>
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/jquery.mmenu.js"></script>
    <script src="{{ STATIC_URL }}vendor/leaflet/plugins/idangerous.swiper-2.0.min.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}vendor/leaflet/plugins/jquery.ba-outside-events.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/leaflet/plugins/ddpanorama.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/leaflet/plugins/ddpanorama.gensample.js"></script>
    <script src="{{ STATIC_URL }}js/helpers/base.js"></script>
    <script src="{{ STATIC_URL }}js/helpers/ajax_helpers.js"></script>
    <script src="{{ STATIC_URL }}js/helpers/resource.js"></script>


    <script src="{{ STATIC_URL }}js/map/index/main.js"></script>
    <script src="{{ STATIC_URL }}js/map/index/social.network.menu.js"></script>
    <script src="{{ STATIC_URL }}js/map/index/modernizr.js"></script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-30904444-2', 'labelee.com');
        ga('send', 'pageview');

    </script>

</head>


<body>


<div id="page">

    <div id="header">
        <a href="#menu-right">
            <img src="{{ STATIC_URL }}css/map/index/images/logo.png"/>
        </a>
        <!--
        <span id="fake"></span>
        labelee-->
    </div>
    <div id="content">
        <div id="map"></div>
    </div>
    <script>
        var STATIC_URL = {{ STATIC_URL }};
        var enclosure_id = {{ enclosure_id }};
        var floor_id = {{ floor_id }};
        var poi_id = {{ poi_id }};
        var qr_type = "{{ qr_type }}";
    </script>
    <script src="{{ STATIC_URL }}js/map/index/map.js"></script>

    <nav id="menu-right">
        <!--
        <div class="search">
            <input type="text" name="search" placeholder="Buscar..." autocomplete="off" />
        </div>
        -->
        <ul id="scrollMenu">
            <li class="Label">{% trans "Selecciona tu destino"%}</li>

            {% for category in categories %}
                <li>
                <li class="Label">{{ category.name }}</li>
                {% for destination in category.items %}
                    <li onclick="$('#menu-right').trigger( 'close' );preDrawRoute({{ poi_id }},floor_id,{{ destination.id }},{{ destination.floor_id }})">{{ destination.description }}</li>
                {% endfor %}

                </li>
            {% endfor %}
            <li class="no-results"><span>{% trans "Lo sentimos, no se ha encontrado ningún resultado."%}</span></li>
        </ul>
    </nav>
    <!--Inicio menú social networks -->

    <!--Fin menú social networks -->


    <span class="locator" id="location"><i class="icon-location-arrow icon-white"></i></span>
    <!--span class="locator" id="myCar"><i class="icon-truck icon-white"></i></span-->
    <span class="locator icon-automobile" id="myCar"></span>

{% comment %}
    <div id="cupones">
        <a href="#">
            COUPONS
        </a>
    </div>
{% endcomment %}
    <div id="cupones">
        <img id="cupon-img" src="/media/cupones_lab.png"
             alt="Cupones" usemap="#cupon">
        <map name="cupon">
            <area shape="poly" coords="" href="#" alt="{% trans "Cupones" %}" title="Cupon">
        </map>

    </div>

    <div class="device">
        <a class="arrow-left" href="#"></a>
        <a class="arrow-right" href="#"></a>
        <button id="closeCoupon">x</button>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
{#                    <p class="title">LA BOTELLITA</p>#}
{#                    <p>Oferta 3 x 2, ¡solo hasta las 20.00h!</p>#}
{#                    <button id="cup1">PULSA AQUÍ</button>#}

                    <img id="cup1" src="/media/buffalogrill.jpg">
                </div>
                <div class="swiper-slide">
                    <img id="cup2" src="/media/worten.jpg">
                </div>
                <div class="swiper-slide">
                    <img id="cup3"src="/media/ingles.jpg">
                </div>
            </div>

        </div>
        <div class="pagination"></div>
    </div>


    <div style="background: rgb(17, 17, 17); background:rgba(17, 17, 17, 0.4); padding:0">
        <marquee align="center" direction="left" loop="40"
                 style="width:100%; z-index: 10000; position: absolute;bottom: 0;background:rgba(17, 17, 17, 0.4);color: #ddd">
            {% for text in marquee %}
                <span>{{ text }}</span>
            {% endfor %}
        </marquee>
    </div>
</div>
<script type='text/javascript'>

    $(function () {


{#        $('.leaflet-popup-content button').on('click', function (e) {#}
{#            e.preventDefault();#}
{#            var point_id = $(this).data('pan');#}
{#            var point = PointResource().read(point_id);#}
{#            addSamplePano(point.panorama, {width: 80 + '%', height: 20 + '%'});#}
{#        });#}

        {% comment %}$(window).resize(function(){
            var $newWidth = $(this).width;
            $('canvas').css({
                'width':$newWidth * 0.84
            });

        });{% endcomment %}
    });


</script>


</body>
</html>
