{% extends "base.html" %}


{% block css%}
<link rel="stylesheet" href="{{ STATIC_URL }}/css/map/styles.css"/>
{% endblock css%}



{% block js%}
<script>
var POS_X = {{ label.0 }};
var POS_Y = {{ label.1 }};
var BLOCK_SIZE = {{ block_size }};
var MAP_IMG = "{{ map_img }}";
</script>

<script src="{{ STATIC_URL }}/js/map/logger.js"></script>
<script src="{{ STATIC_URL }}/js/map/events.js"></script>
<script src="{{ STATIC_URL }}/js/map/menu.js"></script>
<script src="{{ STATIC_URL }}/js/map/main.js"></script>
{% endblock js%}




{% block content %}

{% csrf_token %}

<div id="map_wrapper">
	<div id="zoom-buttons">
		<div id="zoom-in" class="zoom-button">+</div>
		<div id="zoom-out" class="zoom-button">-</div>
	</div>

	<div id="map">
		<div id="position_block"></div>
	</div>

	<!-- <div id="info"></div> -->
</div>


<div id="menu">
	<form class="ejemplo">
        <div class="input-append">
          	<input type="text" placeholder="buscar" id="busqueda">
          	<div class="btn-group dropup">
	            <button class="btn btn-info" tabindex="-1" onclick="Buscar()">Ir</button>
	            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" tabindex="-1">
	              <span class="caret"></span>
	            </button>
	            <ul class="dropdown-menu" id="listaDrop">
	            </ul>
          	</div>
			<input type="button" onclick="Recordar()" value="Recordar" class="btn btn-info">
			<input id="desaparece" type="button" onclick="Interes()" value="Ptos. Interés" class="btn btn-info">
			<!--<button class="btn btn-info" tabindex = "-1" onclick="Recordar()">remember</button>-->
        </div>
   </form>
</div>

{% endblock content %}

