@font-face
{
	font-family: 'Labelee';
	src: url('/static/fonts/harabara-webfont.eot');
	src: url('/static/fonts/harabara-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/static/fonts/harabara-webfont.woff') format('woff'),
	     url('/static/fonts/harabara-webfont.ttf') format('truetype'),
	     url('/static/fonts/harabara-webfont.svg#webfont') format('svg');
}

body
{
	margin-top: 50px;
	text-align: center;
    background-color: #bababa;


}

a{
    color: #8C8C87;
    font-family: 'raleway';
    text-align: center;
}


h1
{
	font-family: 'raleway';
    color: #FEFAF1;
}

h2, h3 {
    color: #8C8C87;
    font-family: 'raleway';
}

h4{
    color: #FCF8E3;
    font-family: 'raleway';
}

#ajax_loading
{
	display: none;
}




/*.button1
{

}*/