*
{
    padding: 0;
    margin: 0;
}

body
{
	background: #ddd;
}

.map
{
    width: 100%;
}

#intro
{
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f5f5f5;
    font-size: 0.8em;
    text-align: center;
    color: darkgrey;
    margin: 5%;
    margin-top:3%;
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 2;
    border-radius: 5px;
}

#map_and_panel
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#selectors_panel
{
    width: 100%;
    position: relative;
    background: darkgray;
    font-size: 0.8em;
    z-index: 3;
    color: #f5f5f5;
    margin-top: -12%;
    height: 50%;
}

.selector
{
    display: inline-block;
    position: relative;
    margin: 2%;
}

select
{
    border: 0 none;
    height: 30px;
    font-size: 0.7em;
    width: 100%;
}

#category
{
    width: 30%;
}

#element
{
    width: 35%;
}

#floor
{
    width: 15%;
}

#legend
{
    background: #f5f5f5;
    width: 90%;
    margin: 3%;
    padding: 2%;
    color: darkgray;
    border-radius: 5px;
    text-align: justify;
}

#targetMarker
{
    position: absolute;
    color: red;
    font-size: 50px;
    height: 50px;
    line-height: 50px;
    display: none;
}

@media all and (orientation:landscape){
    #selectors_panel {
        height: 65%;
    }
}