body
{
    margin: 0 auto;
}

#logs
{
    margin-bottom: 60px;
}

#logs p
{
    padding: 5px;
    background: blanchedalmond;
    text-align: left;
    margin: 2px 0;
}

#logs p span
{
    margin-right: 15px;
    color: grey;
    background: rgb(226, 206, 170);
    padding: 7px;
}

#paused
{
    display: none;
    background: white;
    padding: 8px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40%;
    border: 10px solid rgb(137, 162, 185);
}