
body {
    max-width: 80%;
}


#choose-lang
{
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: 5;
}


#choose-lang img
{
    margin-right: 0.2em;
    cursor: pointer;
}

#choose-lang select
{
    display: none;
}





table th, table td
{
    border: 1px solid grey;
}

#enclosures
{
    width: 100%;
}

td.enclosure
{
    width: 40%;
}

td.floors
{
    width: 16%;
}

td.categories
{
    width: 16%;
}

td.pois
{
    width: 10%;
}

.floor
{
    text-align: center;
}

.floor:hover
{
    background: rgb(219, 212, 207);
}

.floor .icon-edit-wrapper
{
    float: right;
    margin-top: 1em;
    margin-right: 1em;
    width: 1em;
}

.floor .icon-edit
{
}

.floor .icon-edit-wrapper
{
}

.floors a.link-2
{
    font-size: 1.4em;
    margin: 0.2em auto;
    margin-left: 1.3em;
    display: inline-block;
}

.poi_count
{
    display: block;
}

.enclosure h2
{
    display: inline-block;
}

.enclosure h4
{
    color: #5C5035;
}

.enclosure .btn.link-2 {
    display: inline-block;
    color: white;
    text-shadow: none;
}

#enc_create, #enc_edit, #floor_create, #floor_edit
{
    display: none;
}

.editing-floor
{
    display: block
}

