
body {
    margin: 4em auto;
    max-width: 35em;
    background-color: #bababa;
}
h3 {
    display: inline-block;
    position: relative;
}
input[type="text"] {
    margin-bottom: 0;
    width: 9em;
}
.file-input-wrapper {
    margin: 5px auto;
}
.file-input-name {
    background: none repeat scroll 0 0 whitesmoke;
    border-radius: 7px 7px 7px 7px; font-family: 'raleway';
    display: block;
    margin: 4px auto 8px !important;
    opacity: 0.7;
    padding: 5px;
}
#botones-enclosure{
    margin-bottom: 4px;
}
.element-box {
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    margin: 0.3em 0;
    padding: 1em 0;
}
#enclosures {
    /*border: 3px solid #8C665E;*/
    padding: 21px 3px 5px;
}
.enclosure {
    background: none repeat scroll 0 0 #D9D4C7;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px -2px 5px;
    margin: 22px 15px;
    overflow: hidden;
    padding: 1.2em;
}
.floor {
    background: none repeat scroll 0 0 #F2EFE4;
    border: 1px none grey;
    display: block;
    margin-top: 0.1em;
    padding: 5px 16px;
    position: relative;
    text-align: center;
    width: 81;
}
.floors .action_box {
    display: inline-block;
}
.floors {
    background: none repeat scroll 0 0 #A3A59A;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    margin: 0.8em auto;
    padding: 5px;
    position: relative;
    text-align: center;
    width: 93%;
}
.floor .floor_name {
    float: left;
}
#aristas{
    color: black;
}
#aristas:hover, #aristas:focus{
   color: #005580;
}



h2 {
     color: #8C8C87;
    font-family: 'raleway';
    margin-bottom: 6%;
}

.action_box {
    position: absolute;
    right: 0;
    top: 0;
}
.action_box i {
    cursor: pointer;
    margin-left: 1px;
}
#templates {
    display: none;
}
.errorList {
    display: inline-block;
}
.errorList .error {
    border: 0.1em solid #CD1818;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    margin: 0.6em;
    padding: 0.7em;
    text-align: left;
}
li.error {
    background: none repeat scroll 0 0 #CB9393;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    color: white;
    margin: 0;
    padding: 1em 1em 1em 2em;
    text-shadow: none;
    text-align: left;
}
iframe {
    display: none;
}
.form {
    padding: 0;
    position: relative;
    text-align: center;
}
.form .alert {
    left: 0em;
    opacity: 0.94;
    position: absolute;
    top: 2.4em;
    z-index: 1;
}
.editable_text {
    position: relative;
}
.form .alert .field {
    font-weight: bold;
    margin-left: -0.7em;
}
.form .alert > ul {
    list-style: none outside none;
    margin-left: 0;
}

.editable_element {
    position: relative;
}

.btn{
    font-family: helvetica;
    color: #555555;
    text-rendering: optimizelegibility;
}