<!DOCTYPE html>
<html lang ="es">
<head>
    <meta charset="utf-8">
    <title>
        Labelee - nuevo mapa
    </title>

    <!--
        CSS
    -->
    <link rel="stylesheet" href="/media/css/normalize.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

    <link rel="stylesheet" href="/media/css/styles.css"/>


    <!--
        JS
    -->
    <script src="media/js/prefixfree.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="media/js/shortcut.js"></script>

    <!-- Con el '?n=1' evitamos tener que limpiar la caché del navegador
    cada vez que hagamos cambios en este archivo -->
    <script src="media/js/events.js"></script>
    <script src="media/js/map.js"></script>
    <script src="media/js/paint.js"></script>
    <script src="media/js/paint_historial.js"></script>

    <script src="media/js/codiguito.js"></script>
</head>


<body>



</body>
</html>