@font-face
{
	font-family: 'Labelee';
	src: url('/media/common/fonts/harabara-webfont.eot');
	src: url('/media/common/fonts/harabara-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/media/common/fonts/harabara-webfont.woff') format('woff'),
	     url('/media/common/fonts/harabara-webfont.ttf') format('truetype'),
	     url('/media/common/fonts/harabara-webfont.svg#webfont') format('svg');
}

body
{
	margin-top: 50px;
	text-align: center;
}

h1
{
	font-family: 'Labelee';
}




/*.button1
{

}*/