<!--{% extends "base.html" %}


{% block css%}
<link rel="stylesheet" href="/media/map/styles.css"/>
{% endblock css%}



{% block js%}
<script>
var POS_X = {{ label.0 }};
var POS_Y = {{ label.1 }};
var BLOCK_SIZE = {{ block_size }};
var MAP_IMG = "{{ map_img }}";
</script>

<script src="/media/vendor/js/hide-address-bar.js"></script>
<script src="/media/map/main.js?n=1"></script>
{% endblock js%}




{% block content %}

<div id="map_wrapper">
	<div id="info"></div>
	<div id="map">
		<div id="position_block"></div>
	</div>
</div>


<div id="menu">
	<div class="button"></div>
	<div class="button"></div>
</div>





{% endblock content %}-->