form{
    width: 308px;
    margin: 20px auto;
}

#login
{
    width: 410px;
    margin: 0 auto;
}

.form-horizontal .controls {
    margin: auto;
}

.form-horizontal .control-label {
    width: auto;
}