
<!-- <script id="_/editable_text.html" type="text/ng-template"> -->

<div class="editable_element" ng-show="!editing">
	<h3>[[map.name]]</h3>

    <div class="action_box">
        <i class="icon-edit" ng-click="update()"></i>
        <i class="icon-remove" ng-click="del()"></i>
    </div>
</div>

<!--
    EDITANDO..
        Es importante poner en las plantillas $parent para que, en este caso,
        el controlador PlaceCtrl pueda bindar $scope.place_name con este
        '<input ng-model='
-->
<div class="editable_element" ng-show="editing">

    <form action=""
        method="post" enctype="multipart/form-data"
        target="upload_target">
        
        <div ng-include src="_form_alert_box"></div>

        <input type="text"
            ng-init="$parent.map_name=map.name"
            ng-model="$parent.map_name"
            ng-change="validate()"
            placeholder="Nuevo nombre para el mapa.."
            autofocus>
        <input type="file" title="Cambiar imágen..">
        
        <button class="btn" ng-click="update()">Editar</button>
    </form>
    <div class="action_box">
        <i class="icon-remove" ng-click="del()"></i>
    </div>
</div>
<!-- </script> -->