
<!-- <script id="_/editable_text.html" type="text/ng-template"> -->

<div class="editable_element" ng-show="!editing">
	<h3>[[place.name]]</h3>
    <div class="action_box">
        <i class="icon-edit" ng-click="update()"></i>
        <i class="icon-remove" ng-click="del()"></i>
    </div>
</div>

<!--
    EDITANDO..
        Es importante poner en las plantillas $parent para que, en este caso,
        el controlador PlaceCtrl pueda bindar $scope.place_name con este
        '<input ng-model='
-->
<div class="editable_element" ng-show="editing">
    <form>

        <div ng-include src="_form_alert_box"></div>

        <input type="text"
            ng-init="$parent.place_name=place.name"
            ng-model="$parent.place_name"
            ng-change="validate()"
            placeholder="Nuevo nombre para el lugar.."
            autofocus
        >
        <button ng-click="update()">Editar</button>
    </form>
    <div class="action_box">
        <i class="icon-remove"
            ng-click="del('¿Seguro que desea eliminar [[place_name]] de la lista de lugares? (también se perderán todos sus mapas)')">
        </i>
    </div>
</div>
<!-- </script> -->