
<!-- <script id="_/editable_text.html" type="text/ng-template"> -->

	holaaaa

    <div class="editable_text" ng-show="!editing">
    	<h3>[[text]]</h3>
        <div class="action_box">
            <i class="icon-edit" ng-click="update()"></i>
            <i class="icon-remove" ng-click="delete()"></i>
        </div>
    </div>

    <!--
        EDITANDO..
            Es importante poner en las plantillas $parent para que, en este caso,
            el controlador PlaceCtrl pueda bindar $scope.place_name con este
            '<input ng-model='
    -->
	<div class="editable_text" ng-show="editing">

        <form>

            {% csrf_token %}

            <div ng-include src="[[_form_alert_box]]"></div>

            $scope.editable_text.element_type

            element = {
                name: "matadero",
                type: "place"
            }

            <div ng-switch on="element.type" >
                <span ng-switch-when="place">
                    <input type="text"
                        ng-init="$parent.place_name=place.name"
                        ng-model="$parent.place_name"
                        ng-change="validate()"
                        placeholder="Nombre del lugar.."
                        autofocus
                    >
                </span>
                <span ng-switch-when="map">

                    <input type="text"
                        ng-init="$parent.map_name=map.name"
                        ng-model="$parent.map_name"
                        ng-change="validate()"
                        placeholder="Nombre del mapa.."
                        autofocus
                    >
                </span>
                <!-- <span ng-switch-default>default</span> -->
      </div>


            <div class="action_box">
                <i class="icon-remove" ng-click="del()"></i>
            </div>
       	<button ng-click="update()">Editar</button>
    </div>
<!-- </script> -->