body
{
    width: 80%;
    margin: 50px auto;
    text-align: center;
    /*background: black*/
    background-color: rgba(186, 186, 186, 0.23);
}

h4 {
    color: #FEFAF1;
    font-family: 'raleway';
}

a {
    color: #FEFAF1;
}

#loadingScreen {
    background: url(../../img/ajax-loader.gif) no-repeat 5px 8px;
    padding: 1em;
}

#dialogs
{
    display: none;
}

.box-0
{
    margin: 0.4em;
    padding: 0.7em;
    display: inline-block;
    vertical-align: top;
}

.box-1
{
    display: inline-block;
    background: #D9D4C7;
    padding: 0.6em;
    border-radius: 0.4em;
    margin: 0.3em 0.4em;
    vertical-align: top;
}

.box-2
{
    display: inline-block;
    background: rgb(196, 190, 170);
    padding: 1em;
    border: 1px solid grey;
    border-radius: 0.4em;
    box-shadow: 1px 1px 5px black;
    vertical-align: middle;
    margin: 0.4em;
}

.box-3
{
    background: none repeat scroll 0 0 #F2EFE4;
    border: 1px none grey;
    margin: 0.5em 0.4em;
}

.link-1 {
    background: rgb(173, 157, 101);
    padding: 0.3em 1em;
    margin: 0;
    font-weight: bold;
    display: block;
}

.link-1:hover
{
    text-decoration: none;
    background: rgb(122, 113, 81);
    color: #FEFAF1;
    cursor: pointer;
}
a:hover
{
    text-decoration: none;
}

li
{
    list-style: none;
}

.link-2
{
    background: rgb(196, 190, 170);
    padding: 0.3em 1em;
    margin: 0;
    border-radius: 0.2em;
    font-weight: bold;
    display: block;
    border: 2px solid rgb(175, 170, 155);
}
.link-2:hover
{
    background: #D9D4C7;
    text-decoration: none;
    color: #FEFAF1;
}

a.link-3
{
}

.checkbox
{
    text-align: left;
}

.alert ul{
    margin: 0;
}

.btn{
    font-family: 'raleway';
}


form .txt
{
    color: rgb(122, 113, 81);
}

iframe {
    display: none;
}
