
<!--
    PLANTILLA PARA CADA ELEMENTO PLACE

    Contextos:
        {{enclosure.id|default:"[[enclosure.id]]"}}
        {{enclosure.name|default:"[[enclosure.name]]"}}
-->


<div class="place element-box" data-id="{{place.id|default:"[[place.id]]"}}">
    <h3>
        {{place.name|default:"[[place.name]]"}}
        <div class="action_box">
            <i class="icon-edit"></i>
            <i class="icon-remove"></i>
        </div>
    </h3>


    <div class="maps">

        <div class="map_form">
            <!-- Para subir la imágen del mapa -->
            <form action={% url "map_editor.views.maps" 'new' %} method="post" enctype="multipart/form-data" target="upload_target">
                {% csrf_token %}
                <input type="file" title="Elegir imágen..">
            </form>

            <input type="text" name="map_name" placeholder="Nombre de mapa..">
            <button class="btn">Añadir mapa</button>
        </div>

        <div class=".loading_wrapper"></div>

        {% if place.maps %}
            <h4>Mapas:</h4>

            {% for map in place.maps%}

                {% include "map_editor/elements/_map.html" %}

            {% endfor %}

        {% endif %}
    </div>
</div>
