<!-- <script id="_/editable_text.html" type="text/ng-template"> -->

<!--
    ponemos $parent.$parent. porque tenemos que subir dos niveles en el scope:
        - de esta plantilla a la directiva 'include' que la incluye
        - de directiva 'include' al controlador 'EnclosureCtrl' que contiene enclosure
-->
<div class="editable_element" ng-show="!editing">
    <h3>[[$parent.$parent.enclosure.name]]</h3>

    <div class="action_box">
        <i class="icon-edit" ng-click="update()"></i>
        <i class="icon-remove" ng-click="del()"></i>
    </div>
</div>

<!--
    EDITANDO..
        Es importante poner en las plantillas $parent para que, en este caso,
        el controlador EnclosureCtrl pueda bindar $scope.place_name con este
        '<input ng-model='
-->
<div class="editable_element" ng-show="editing">
    <form>

{#        <div ng-include src="_form_alert_box"></div>#}

        <input type="text"
               ng-init="$parent.$parent.enclosure_name=enclosure.name"
               ng-model="$parent.$parent.enclosure_name"
               ng-change="$parent.$parent.validate()"
               placeholder="Nuevo nombre para el recinto.."
               autofocus
                >
        <button ng-click="update()">Editar</button>
    </form>
    <div class="action_box">
        <i class="icon-remove"
           ng-click="del('¿Seguro que desea eliminar el recinto [[enclosure_name]]? (se perderá toda su información)')">
        </i>
    </div>
</div>
<!-- </script> -->