<!-- <script id="_/editable_text.html" type="text/ng-template"> -->

<div class="editable_element" ng-hide="editing">
    <h3>
        <a href="[[$parent.$parent.urls.map_editor.edit]]/[[$parent.$parent.floor.id]]">
            [[$parent.$parent.floor.name]]
        </a>
    </h3>

    <div class="action_box">
        <i class="icon-edit" ng-click="$parent.$parent.update()"></i>
        <i class="icon-remove" ng-click="$parent.$parent.del()"></i>
    </div>
</div>

<!--
    EDITANDO..
        Es importante poner en las plantillas $parent para que, en este caso,
        el controlador EnclosureCtrl pueda bindar $scope.place_name con este
        '<input ng-model='
-->
<div class="editable_element" ng-show="$parent.$parent.editing">

    <div class="form_content" ng-hide="$parent.$parent.sending_img">
        <form action=""
              method="post" enctype="multipart/form-data"
              target="upload_target">

            <!--<div ng-include src="_form_alert_box"></div>-->

            <input type="text"
                   ng-init="$parent.floor_name=floor.name"
                   ng-model="$parent.floor_name"
                   ng-change="validate()"
                   placeholder="Nuevo nombre para la planta.."
                   autofocus>
            <input type="file" name="img" title="Cambiar imágen..">

            <button class="btn" ng-click="$parent.$parent.update()">Editar</button>
        </form>
    </div>

    <div class="ajax_gif" ng-show="sending_img">
        <!-- Ponemos ng-src en lugar de src para que se procese la interpolación antes
        de cargar la imágen -->
        <img ng-src="[[$parent.$parent.urls.static.img]]/ajax-loader.gif">
    </div>

    <div class="action_box">
        <i class="icon-remove" ng-click="$parent.$parent.del()"></i>
    </div>
</div>

<!-- </script> -->