{% load i18n %}

<form id="choose-lang" action="/i18n/setlang/" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <img id="es" src="{{ STATIC_URL }}img/country_flags/Spain_32.png">
    <img id="en" src="{{ STATIC_URL }}img/country_flags/United-States_32.png">
    <select name="language">
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
        {% endfor %}
    </select>
</form>