<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <span class="brand" style="color:white;">{{ section }} | Enclosure Name</span>

            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="#"><i class="icon-white icon-picture"></i> Enclosure Website</a>
                    </li>
                    <li><a href="#"><i class="icon-white icon-play-circle"></i>
                        Labelee App</a></li>
                    <li><a href="#"><i class="icon-white icon-book"></i> Coupons Manager</a></li>
                </ul>
                <ul class="nav pull-right">
                    {% comment %}
                    <li><p class="navbar-text"><i class="icon-white icon-download"></i> Download:</p></li>
                    <li>
                        <div class="btn-group">
                            <a class="btn btn-small btn-primary"
                               href="#">PDF</a>
                            <a class="btn btn-small btn-primary" href="#">E-MAIL</a>
                        </div>
                    </li>
{% endcomment %}
                </ul>
            </div>
            <!--/.nav-collapse -->


        </div>
    </div>
</div>