{% extends "base.html" %}


    {% block css %}
        <link rel="stylesheet" href="/static/css/map_editor/index/styles.css"/>
    {% endblock css %}


    {% block js%}
        <script src="/static/vendor/bootstrap.file-input.js"></script>

        <script src="/static/js/map_editor/index/main_angular.js"></script>
    {% endblock js %}


    {% block content %}

        {% csrf_token %}

        <h1>Tus lugares</h1>

        <!-- Lista de lugares -->
        <div class="box box-0" ng-controller="PlacesCtrl">

            <!-- Formulario para crear nuevo lugar -->
            <form ng-controller="PlaceCtrl">

                <div ng-include src="[[_form_alert_box]]"></div>

                <input type="text"
                    ng-model="place_name"
                    ng-change="validate()"
                    placeholder="Nombre del lugar.."
                >
                <button class="btn" ng-click="create()">Añadir lugar</button>
            </div>

            <!-- LUGARES -->
            <div class="box box-1" fadey="1000"
                ng-repeat="place in places"
                ng-controller="PlaceCtrl"
            >

                <!-- Nombre para el lugar -->
                <div ng-include src="[[_editable_place]]"></div>


                <!--
                    MAPAS para el lugar
                -->
                <div class="box box-2" ng-controller="MapsCtrl">

                    <!-- Formulario para crear nuevo mapa (subir su imágen también) -->
                    <form action={% url "map_editor.views.maps" 'new' %}
                        method="post" enctype="multipart/form-data"
                        target="upload_target"
                        ng-controller="MapCtrl"
                    >
                        <div ng-include src="[[_form_alert_box]]"></div>

                        {% csrf_token %}
                        <input type="file" title="Elegir imágen..">
                        <input type="text"
                            ng-model="map_name"
                            ng-change="validate()"
                            placeholder="Nombre de mapa.."
                        >
                        <button class="btn" ng-click="create()">Añadir mapa</button>
                    </form>

                    <h4 ng-show="place.maps">Mapas:</h4>

                    <div class="box box-3"
                        ng-repeat="map in place.maps"
                        ng-controller="MapCtrl"
                    >

                        <!-- Nombre e imágen para el mapa -->
                        <div ng-include src="[[_editable_map]]"></div>

                    </div>
                </div>

            </div>
        </div>


    {% include "_uploading_iframe.html" %}

    {% endblock content %}
