<!DOCTYPE html>
{%  load static %}
<html>
<head>
    <title>Error</title>
</head>
<body>

<br>

<div style="text-align:center;vertical-align:middle;">
    <img src="{% get_media_prefix %}logosplash.png">
</div>

<br><br><br>

<div style="text-align:center;vertical-align:middle;">
    <img src="{% get_static_prefix %}img/error_pages/broken_qr.png" style="height:235px;">
</div>

<br>

<div style="text-align:center;vertical-align:middle;">
    <p style="font-size: 25px">Ha ocurrido un error :/, ¡gracias por darte cuenta!</p>
</div>

</body>
</html>