{% load i18n %}

<!DOCTYPE html>
<html lang ="es" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>
        Labelee
    </title>

    <!--
        CSS
    -->
    <!-- Vendor -->
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/normalize.css"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/jquery-ui-1.10.2.custom/css/smoothness/jquery-ui-1.10.2.custom.min.css" type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/index/font/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap-responsive.min.css" />

    <!-- Nuestro CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css"/>
    {% block css %}{% endblock css %}


    <!--
        JS
    -->
    <!-- Vendor -->
    <script src="{{ STATIC_URL }}vendor/prefixfree.min.js"></script>

    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/vendor/js/jquery-1.9.1.min.js"><\/script>')</script>
    -->
    <script src="{{ STATIC_URL }}vendor/jquery-1.9.1.min.js"></script>

    <script src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.min.js"></script>
{#    <script src="{{ STATIC_URL }}vendor/bootstrap/bootstrap-filestyle-0.1.0.min.js"></script>#}

    <script src="{{ STATIC_URL }}vendor/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js"></script>

    <script src="{{ STATIC_URL }}vendor/shortcut.js"></script>
    <script src="{{ STATIC_URL }}vendor/mousetrap/mousetrap.js"></script>

    <script src="{{ STATIC_URL }}vendor/hammer.js_v1.0.3/dist/hammer.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/hammer.js_v1.0.3/dist/jquery.hammer.min.js"></script>

    <script src="{{ STATIC_URL }}vendor/mustache.js"></script>

    <script src="{{ STATIC_URL }}vendor/angularjs/angular.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/angularjs/angular-sanitize.min.js"></script>

    <!-- i18n -->
    <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

    <!--
    Nuestro JS
    -->
    <script src="{{ STATIC_URL }}js/helpers/base.js"></script>
    <script src="{{ STATIC_URL }}js/helpers/jquery_plugins.js"></script>
    <script src="{{ STATIC_URL }}js/helpers/ajax_helpers.js"></script>
    <script src="{{ STATIC_URL }}js/helpers/angular_config.js"></script>
    <script src="{{ STATIC_URL }}js/helpers/angular_services.js"></script>
    <script src="{{ STATIC_URL }}js/helpers/resource.js"></script>

    {% get_current_language as LANGUAGE_CODE %}

    <script type="text/javascript">
        var lang_code = "{{ LANGUAGE_CODE }}";
        var user_id = parseInt("{{ user.id }}");
        var user_is_staff = "{{ user.is_staff }}" == "True";
    </script>

    {% block js %}{% endblock js %}

</head>


<!-- <body onload="window.scrollTo(300,1200);"> -->
<body>
    {% block content %}{% endblock content %}
</body>

</html>