<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Todo list</title>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="/static/vendor/jquery-1.9.1.min.js"></script>
    <script src="/static/vendor/angularjs/angular.min.js"></script>

    <script src="/static/angularjs/directives/directives.js"></script>
</head>
<body ng-controller="Demo">

<input ng-model="name">

<div demo-greet="name"></div>

<div class="demo-greet: name"></div>



<hr>
<hr>
<hr>



<div class="header">
    <h1> I am</h1>
    <profile email="email"></profile>
    {# {% include "_/profile.html" %} #}
</div>

<hr>

<div>
    <h1>AngularJS developers</h1>
    <div ng-repeat="dev in devs">
        <profile email="dev"></profile>
    </div>
</div>

<pre>[[leak]]</pre>



<hr>
<hr>
<hr>



<zippy title="[[greeting]]">
    Hello [[name]]!
</zippy>


</body>
</html>