#socialsharing {



    position: relative;
    left: 0;
    top: 0;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    opacity: 0.8;
    vertical-align: middle;
    margin:-4px;
    padding:0;
    border:0;

    



    overflow: visible;



    height: 38px;



    width: 100%;



}



#divsocialmenu{
    width:200px;
    height:40px;
    position:relative;
}