{% extends "base.html" %}

{% load i18n %}


{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map_editor/styles.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/coupon_manager/styles.css"/>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}vendor/bootstrap/bootstrap.file-input.js"></script>
    <script src="{{ STATIC_URL }}js/coupon_manager/main.js"></script>
{% endblock %}


{% block content %}
    {% csrf_token %}

    {% include "_manager_navbar.html" with section="Coupon Manager"%}

    <div ng-controller="MainCtrl">

        <h1>[[manager.title]]</h1>

        <label id="search_box">{% trans "Buscar cupón" %}:
            <input class="input-large search-query"
                   type="text" ng-model="query"
                   placeholder="{% trans "Introduzca nombre del POI o su recinto" %}..">
        </label>

        <div id="search_box2">
            <label>{% trans "Mostrar sólo tiendas sin cupones" %}:
                <input type="checkbox" ng-model="show_only_empty">
            </label>
            <label>{% trans "Mostrar sólo tiendas con cupones" %}:
                <input type="checkbox" ng-model="show_only_unempty">
            </label>
        </div>

        <table class="coupons table table-bordered" ng-show="manager.coupons.length > 1">
            <thead>
                <tr>
                    <th>{% trans "Recinto" %}</th>
                    <th>POI</th>
                    <th>{% trans "Cupón" %}</th>
                </tr>
            </thead>
            <tr class="coupon"
                ng-repeat="coupon in manager.coupons | orderBy:'label.name':reverse | filter:search | filter:search2"
                ng-controller="CouponCtrl">
                <td>[[coupon.enclosure.name]]</td>
                <td>[[coupon.label.name]]</td>
                <td>
                    {% include "_coupon.html" %}
                </td>
            </tr>
        </table>

        <div class="coupons" ng-show="manager.coupons.length == 1">
            <div class="coupon" ng-repeat="coupon in manager.coupons" ng-controller="CouponCtrl">
                {% include "_coupon.html" %}
            </div>
        </div>


        <div id="dialogs" ng-controller="FormsCtrl">
            <div id="coupon_create">
                <form class="create"
                      id="create"
                      action=""
                      method="post"
                      enctype="multipart/form-data"
                      target="upload_target">

                    <label class="txt">
                        {% trans "Imagen para el cupón:" %}
                        <input class="btn"
                               type="file"
                               ng-model="coupon_img"
                               name="coupon"
                               title="{% trans "Subir imagen" %}">
                    </label>

                    <button class="btn" ng-click="closeModalDialog()">{% trans "Cancelar" %}</button>
                    <button class="btn" ng-click="create()">{% trans "Añadir cupón" %}</button>
                </form>
            </div>

            <div id="coupon_update">
                <form class="edit"
                      action=""
                      method="post"
                      enctype="multipart/form-data"
                      target="upload_target">
                    <label class="txt">
                        {% trans "Nueva imagen para el cupón:" %}
                        <input class="btn"
                               type="file"
                               ng-model="new_coupon_img"
                               name="coupon"
                               title="{% trans "Cambiar imagen" %}">
                    </label>

                    <button class="btn" ng-click="closeModalDialog()">{% trans "Cancelar" %}</button>
                    <button class="btn" ng-click="update()">{% trans "Guardar" %}</button>
                    <button class="btn" ng-click="del()">{% trans "Eliminar cupón" %}</button>
                </form>
            </div>
        </div>
    </div>

    {% include "_uploading_iframe.html" %}
{% endblock %}